form {
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  background-color: #dddfe5;

  @media screen and (min-width: 400px) {
    border-radius: 10px;
  }
}

form > label:first-child {
  padding-top: 0;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  display: inline-block;
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.block {
  display: block;
}

.row {
  display: flex;
}

.row-item {
  flex-grow: 1;
}

.row-item:first-child {
  margin-right: 25px;
}
